.carousel-fullwidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 1.5rem;
}

.carousel-fullwidth img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.carousel-fullwidth .carousel-caption {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    bottom: 0;
    padding-bottom: 2rem;
}

@media (max-width: 768px) {
    .carousel-fullwidth img {
        height: 250px;
    }
    
    .carousel-fullwidth .carousel-caption h5 {
        font-size: 1.2rem;
    }
    
    .carousel-fullwidth .carousel-caption p {
        font-size: 0.9rem;
    }
}
