<footer class="footer mt-5 py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Urban Ecommerce</h5>
                <p>Tu tienda online de confianza</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Inicio</a></li>
                    <li><a href="/catalogo" class="text-white">Catálogo</a></li>
                    <li><a href="#" class="text-white">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <div>
                    <a href="#" class="text-white me-2">Facebook</a>
                    <a href="#" class="text-white me-2">Twitter</a>
                    <a href="#" class="text-white">Instagram</a>
                </div>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <p class="mb-0">&copy; 2025 Urban Ecommerce. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

@code {
}